In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_csv('/data/phenotype.txt',engine="python",sep="\t")

In [3]:
#가족력, 과거력 파악
data2=data1.loc[:,['FCAN80','LUNG']]
data2.dropna(inplace=True)
print(len(data2))
data3=data2[data2['LUNG']==1]
print(len(data3))
print(len(data3)/len(data2))
data3.head()

396
21
0.05303030303030303

      FCAN80  LUNG
1508     1.0     1
2447     1.0     1
4574     1.0     1
4714     1.0     1
4831     1.0     1

In [4]:
data1['PCAN80']=data1['PCAN80'].fillna(0)
data1['FCAN80']=data1['FCAN80'].fillna(0)

In [5]:
#BMI 변수 만들기
data1_HT=data1['HT_B']
data1_WT=data1['WT_B']
data1_BMI=data1_WT/(data1_HT*data1_HT)*10000
data1_BMI

0        20.015031
1        23.046875
2        22.975779
3        25.273469
4        19.588207
           ...
16950    33.930904
16951    21.218317
16952    26.906122
16953    20.212808
16954    23.011177
Length: 16955, dtype: float64

In [6]:
data2=pd.concat([data1,data1_BMI],axis=1)
data2=data2.rename(columns={0:'bmi'})
data2

,FID,IID,AGE_B,SMOK_B,SMOKA_MOD_B,ALCO_B,ALCO_AMOUNT_B,EXER_B,MDM_B,MHTN_B,...,SPROST,STHROI,SBREAC,SLUNG,SSTOMA,SLIVER,SEX1,CRC,SCRC,bmi
0,KCPS000001,KCPS000001,39,1.0,0.0,1.0,NaN,1.0,NaN,NaN,...,11.5,2.000000,11.5,11.5,11.500000,11.5,2,0,11.500000,20.015031
1,KCPS000002,KCPS000002,44,1.0,NaN,1.0,0.000000,1.0,NaN,NaN,...,11.5,11.500000,11.5,11.5,11.500000,11.5,2,0,11.500000,23.046875
2,KCPS000003,KCPS000003,46,2.0,10.0,2.0,4.580357,1.0,NaN,NaN,...,11.5,11.500000,11.5,11.5,11.500000,11.5,1,0,11.500000,22.975779
3,KCPS000004,KCPS000004,43,1.0,0.0,2.0,5.571429,2.0,NaN,NaN,...,11.5,11.500000,11.5,11.5,11.500000,11.5,1,0,11.500000,25.273469
4,KCPS000005,KCPS000005,45,NaN,NaN,1.0,NaN,2.0,NaN,NaN,...,11.5,2.333333,11.5,11.5,11.500000,11.5,2,1,-12.083333,19.588207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16950,KCPS016951,KCPS016951,40,3.0,25.0,2.0,3.714286,2.0,NaN,1.0,...,11.7,11.700000,11.7,11.7,11.700000,11.7,1,0,11.700000,33.930904
16951,KCPS016952,KCPS016952,48,1.0,NaN,1.0,0.000000,1.0,NaN,NaN,...,11.7,4.033333,11.7,11.7,11.700000,11.7,2,0,11.700000,21.218317
16952,KCPS016953,KCPS016953,50,2.0,NaN,2.0,NaN,1.0,NaN,NaN,...,2.7,2.700000,2.7,2.7,2.700000,2.7,1,0,2.700000,26.906122
16953,KCPS016954,KCPS016954,44,1.0,NaN,1.0,0.000000,1.0,NaN,NaN,...,11.7,11.700000,11.7,11.7,11.700000,11.7,2,0,11.700000,20.212808
16954,KCPS016955,KCPS016955,49,1.0,NaN,1.0,NaN,1.0,NaN,NaN,...,2.7,2.700000,2.7,2.7,0.033333,2.7,2,0,2.700000,23.011177

In [7]:
#data4의 경우 FEV1,FVC 제외
data3=data2.loc[:,['FID','AGE_B', 'SMOK_B', 'ALCO_B','EXER_B','SBP_B', 'DBP_B', 'CHO_B','LDL_B', 'TG_B', 'HDL_B', 'FBS_B', 'GOT_B', 'GPT_B', 'GGT_B', 'URIC_B','BIL', 'WBC', 'CREAT','SEX1', 'CRC','bmi','LUNG']]
data3.dropna(inplace=True)
data3

,FID,AGE_B,SMOK_B,ALCO_B,EXER_B,SBP_B,DBP_B,CHO_B,LDL_B,TG_B,...,GPT_B,GGT_B,URIC_B,BIL,WBC,CREAT,SEX1,CRC,bmi,LUNG
0,KCPS000001,39,1.0,1.0,1.0,93.0,59.0,174.0,102.0,38.0,...,24.0,17.0,4.9,0.5,4.16,0.9,2,0,20.015031,0
1,KCPS000002,44,1.0,1.0,1.0,111.0,67.0,160.0,93.0,77.0,...,11.0,15.0,3.1,0.6,6.00,0.7,2,0,23.046875,0
2,KCPS000003,46,2.0,2.0,1.0,108.0,64.0,164.0,107.0,64.0,...,16.0,18.0,5.1,0.9,4.95,1.0,1,0,22.975779,0
3,KCPS000004,43,1.0,2.0,2.0,116.0,75.0,198.0,129.0,142.0,...,20.0,24.0,6.8,1.4,4.60,1.0,1,0,25.273469,0
5,KCPS000006,50,1.0,1.0,2.0,115.0,76.0,182.0,130.0,71.0,...,12.0,14.0,4.2,0.3,3.80,0.8,2,0,26.490066,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16950,KCPS016951,40,3.0,2.0,2.0,135.0,89.0,221.0,145.0,339.0,...,51.0,121.0,8.5,0.5,5.22,1.3,1,0,33.930904,0
16951,KCPS016952,48,1.0,1.0,1.0,103.0,71.0,184.0,109.0,30.0,...,18.0,14.0,4.3,0.5,5.99,0.8,2,0,21.218317,0
16952,KCPS016953,50,2.0,2.0,1.0,119.0,88.0,179.0,114.0,80.0,...,23.0,23.0,5.5,0.5,5.74,1.0,1,0,26.906122,0
16953,KCPS016954,44,1.0,1.0,1.0,119.0,72.0,143.0,82.0,84.0,...,13.0,13.0,4.6,0.7,3.79,0.9,2,0,20.212808,0
16954,KCPS016955,49,1.0,1.0,1.0,103.0,63.0,211.0,144.0,98.0,...,11.0,12.0,3.2,0.6,5.38,0.7,2,0,23.011177,0

In [8]:
dat1=pd.read_csv('/data/KCPS_r2_0.01.csv')

In [9]:
data1 = pd.concat([dat1,data3],axis=1)
data1.dropna(inplace=True)
data1

,FID,IID,rs4970382,rs7513297,rs144969472,rs1695860,rs3765908,rs34135959,1:1959861_GCC/G,rs12057498,...,GPT_B,GGT_B,URIC_B,BIL,WBC,CREAT,SEX1,CRC,bmi,LUNG
0,KCPS000001,KCPS000001,0,1,0,2,2,1,0,1,...,24.0,17.0,4.9,0.5,4.16,0.9,2.0,0.0,20.015031,0.0
1,KCPS000002,KCPS000002,0,1,0,0,2,0,1,2,...,11.0,15.0,3.1,0.6,6.00,0.7,2.0,0.0,23.046875,0.0
2,KCPS000003,KCPS000003,2,1,0,0,1,1,0,1,...,16.0,18.0,5.1,0.9,4.95,1.0,1.0,0.0,22.975779,0.0
3,KCPS000004,KCPS000004,0,1,0,1,2,0,0,0,...,20.0,24.0,6.8,1.4,4.60,1.0,1.0,0.0,25.273469,0.0
5,KCPS000006,KCPS000006,0,1,0,1,0,0,1,0,...,12.0,14.0,4.2,0.3,3.80,0.8,2.0,0.0,26.490066,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16950,KCPS016951,KCPS016951,0,0,0,0,0,0,0,1,...,51.0,121.0,8.5,0.5,5.22,1.3,1.0,0.0,33.930904,0.0
16951,KCPS016952,KCPS016952,0,0,0,0,1,2,1,0,...,18.0,14.0,4.3,0.5,5.99,0.8,2.0,0.0,21.218317,0.0
16952,KCPS016953,KCPS016953,1,2,1,1,1,0,1,0,...,23.0,23.0,5.5,0.5,5.74,1.0,1.0,0.0,26.906122,0.0
16953,KCPS016954,KCPS016954,0,0,0,0,2,1,1,1,...,13.0,13.0,4.6,0.7,3.79,0.9,2.0,0.0,20.212808,0.0
16954,KCPS016955,KCPS016955,2,0,0,1,1,1,2,2,...,11.0,12.0,3.2,0.6,5.38,0.7,2.0,0.0,23.011177,0.0

In [10]:
data1.drop('FID',axis=1,inplace=True)
data1.drop('IID',axis=1,inplace=True)

In [11]:
data1[data1['LUNG']==1]

,rs4970382,rs7513297,rs144969472,rs1695860,rs3765908,rs34135959,1:1959861_GCC/G,rs12057498,rs4648834,rs2840535,...,GPT_B,GGT_B,URIC_B,BIL,WBC,CREAT,SEX1,CRC,bmi,LUNG
34,0,0,0,1,0,1,0,0,1,0,...,20.0,45.0,5.7,0.7,9.70,1.0,1.0,0.0,25.874583,1.0
48,1,1,0,1,2,1,0,0,2,2,...,16.0,25.0,4.0,0.4,3.87,0.6,2.0,0.0,24.726562,1.0
51,2,0,0,0,0,1,0,2,1,1,...,31.0,26.0,4.6,0.6,6.48,0.9,2.0,0.0,24.049682,1.0
65,0,1,0,0,0,2,2,0,2,1,...,20.0,13.0,4.5,0.6,6.27,1.2,1.0,0.0,18.331352,1.0
113,0,0,0,0,0,1,2,0,2,0,...,15.0,14.0,5.1,0.8,4.15,0.7,2.0,0.0,26.523920,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16854,0,0,0,0,2,1,2,0,2,0,...,14.0,85.0,4.9,0.5,7.78,1.0,1.0,0.0,21.664973,1.0
16864,1,0,0,0,0,1,2,1,1,1,...,18.0,70.0,5.2,0.9,5.47,0.9,1.0,0.0,23.143447,1.0
16923,0,0,0,2,1,1,0,2,0,0,...,20.0,21.0,4.2,1.0,7.90,1.2,1.0,0.0,23.875433,1.0
16925,1,0,0,0,0,2,0,0,2,0,...,57.0,47.0,3.4,0.7,8.30,0.9,1.0,0.0,25.399656,1.0
16936,0,0,0,2,1,1,2,0,2,1,...,21.0,33.0,6.8,0.5,7.79,1.1,1.0,0.0,23.715154,1.0

In [104]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score,average_precision_score, recall_score, roc_auc_score # 평가
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler, Binarizer
from sklearn.model_selection import GridSearchCV, train_test_split

from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
import xgboost as xgb
from xgboost import plot_importance

from sklearn.model_selection import StratifiedKFold,cross_val_score, cross_validate

In [13]:
X_df = data1.iloc[:,:-1]
y_df = data1.iloc[:,-1]

In [51]:
# random_state = 156 : 다음에도 같은 데이터를 train, test로 분리 하는 옵션
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df,test_size=0.2,random_state=156,stratify=y_df)

In [52]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.0023, max_iter=100000).fit(X_train, y_train)

print("훈련 세트의 정확도 : {:.2f}".format(lasso.score(X_train, y_train)))
print("테스트 세트의 정확도 : {:.2f}".format(lasso.score(X_test, y_test)))
print("사용한 특성의 수 : {}".format(np.sum(lasso.coef_ != 0)))
print("사용한 max_iter : {}".format(lasso.n_iter_))

훈련 세트의 정확도 : 0.09
테스트 세트의 정확도 : 0.02
사용한 특성의 수 : 413
사용한 max_iter : 16

In [53]:
X_train.shape

(10804, 15209)

In [54]:
X_train.iloc[:,lasso.coef_!=0].columns

Index(['rs12728296', 'rs780606', 'rs1750823', 'rs742545', 'rs868804',
       'rs140296460', 'rs12125733', 'rs146992271', 'rs485874', 'rs1825306',
       ...
       'SBP_B', 'DBP_B', 'LDL_B', 'TG_B', 'FBS_B', 'GOT_B', 'GPT_B', 'GGT_B',
       'WBC', 'bmi'],
      dtype='object', length=413)

In [75]:
X_train_columns=X_train.iloc[:,lasso.coef_!=0].columns
X_test_columns=X_train.iloc[:,lasso.coef_!=0].columns

In [80]:
X_lasso=X_train[X_train_columns]
X_lasso=X_lasso.iloc[:,:402]
X_lasso

,rs12728296,rs780606,rs1750823,rs742545,rs868804,rs140296460,rs12125733,rs146992271,rs485874,rs1825306,...,rs11910951,rs365892,rs4321459,rs3218269,rs4821797,rs729809,rs114010720,rs150454834,rs6009557,AGE_B
7404,0,1,0,1,1,0,1,1,1,1,...,0,0,0,0,2,1,0,0,1,35.0
3132,1,2,1,1,2,1,1,1,1,1,...,0,1,0,1,1,1,1,1,0,46.0
16483,0,2,1,1,1,2,1,1,1,1,...,0,0,1,0,1,1,1,1,2,51.0
7988,2,2,1,2,2,1,1,1,0,1,...,0,1,1,2,2,1,1,1,0,55.0
6735,0,0,2,0,2,0,1,0,2,0,...,1,1,0,2,1,2,0,1,1,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10719,1,1,2,1,1,0,2,2,2,1,...,0,1,1,0,1,2,1,1,1,35.0
12664,2,1,0,1,1,0,0,0,1,0,...,1,2,0,0,2,1,2,0,0,47.0
6126,0,1,0,0,1,1,0,1,1,0,...,0,0,1,0,1,1,1,0,1,32.0
16441,1,0,1,1,2,0,2,0,1,1,...,0,1,2,2,1,1,1,0,0,45.0
10587,0,2,0,2,1,0,2,0,1,2,...,0,2,1,0,1,1,1,0,0,53.0

In [82]:
X_train_new = pd.concat([X_train.iloc[:,15189:15209],X_lasso],axis=1)
X_train_new

,SMOK_B,ALCO_B,EXER_B,SBP_B,DBP_B,CHO_B,LDL_B,TG_B,HDL_B,FBS_B,...,rs11910951,rs365892,rs4321459,rs3218269,rs4821797,rs729809,rs114010720,rs150454834,rs6009557,AGE_B
7404,1.0,2.0,1.0,120.0,80.0,249.0,176.6,182.0,36.0,86.0,...,0,0,0,0,2,1,0,0,1,35.0
3132,3.0,2.0,1.0,121.0,72.0,139.0,70.0,109.0,58.0,104.0,...,0,1,0,1,1,1,1,1,0,46.0
16483,1.0,2.0,1.0,126.0,91.0,179.0,103.0,152.0,52.0,96.0,...,0,0,1,0,1,1,1,1,2,51.0
7988,1.0,2.0,1.0,120.0,80.0,220.0,147.8,136.0,45.0,82.0,...,0,1,1,2,2,1,1,1,0,55.0
6735,1.0,1.0,1.0,110.0,70.0,197.0,122.6,92.0,56.0,82.0,...,1,1,0,2,1,2,0,1,1,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10719,1.0,1.0,2.0,93.0,56.0,198.0,114.4,108.0,62.0,85.0,...,0,1,1,0,1,2,1,1,1,35.0
12664,1.0,1.0,1.0,120.0,70.0,218.0,146.6,72.0,57.0,73.0,...,1,2,0,0,2,1,2,0,0,47.0
6126,2.0,1.0,1.0,130.0,70.0,214.0,134.8,126.0,54.0,79.0,...,0,0,1,0,1,1,1,0,1,32.0
16441,1.0,1.0,2.0,111.0,83.0,163.0,97.0,97.0,33.0,92.0,...,0,1,2,2,1,1,1,0,0,45.0
10587,1.0,1.0,1.0,119.0,68.0,208.0,130.4,218.0,50.0,92.0,...,0,2,1,0,1,1,1,0,0,53.0

In [77]:
X_test_lasso = X_test[X_train_columns]
X_test_lasso = X_test_lasso.iloc[:,:402]
X_test_lasso

,rs12728296,rs780606,rs1750823,rs742545,rs868804,rs140296460,rs12125733,rs146992271,rs485874,rs1825306,...,rs11910951,rs365892,rs4321459,rs3218269,rs4821797,rs729809,rs114010720,rs150454834,rs6009557,AGE_B
9764,2,2,1,0,0,0,0,0,2,0,...,0,2,1,1,0,0,1,0,0,30.0
16687,0,1,0,1,1,0,2,0,2,1,...,0,2,2,0,1,1,0,0,0,60.0
5092,2,0,2,0,1,1,2,0,0,0,...,0,0,1,1,1,1,1,0,0,43.0
7969,1,0,1,0,1,0,0,1,2,2,...,0,0,2,1,1,1,1,1,1,36.0
12290,0,0,0,1,1,2,0,1,0,1,...,1,1,2,1,2,1,1,1,1,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161,0,2,1,1,1,0,0,0,0,1,...,0,0,0,1,1,1,1,0,1,49.0
3249,0,1,2,2,0,0,0,1,1,2,...,0,2,1,1,2,0,0,0,1,51.0
14692,1,0,0,2,0,1,0,1,0,1,...,1,1,0,1,1,1,1,1,0,46.0
7834,0,1,1,0,0,0,1,1,1,0,...,1,0,0,1,2,2,2,1,1,55.0
7343,2,1,0,1,1,1,0,0,0,0,...,0,0,2,1,0,2,1,1,0,32.0

In [78]:
X_test_new = pd.concat([X_test.iloc[:,15189:15209],X_test_lasso],axis=1)
X_test_new

,SMOK_B,ALCO_B,EXER_B,SBP_B,DBP_B,CHO_B,LDL_B,TG_B,HDL_B,FBS_B,...,rs11910951,rs365892,rs4321459,rs3218269,rs4821797,rs729809,rs114010720,rs150454834,rs6009557,AGE_B
9764,3.0,2.0,1.0,110.0,62.0,181.0,118.2,64.0,50.0,101.0,...,0,2,1,1,0,0,1,0,0,30.0
16687,1.0,1.0,1.0,131.0,79.0,219.0,158.0,130.0,53.0,161.0,...,0,2,2,0,1,1,0,0,0,60.0
5092,1.0,1.0,1.0,123.0,67.0,144.0,79.0,61.0,61.0,88.0,...,0,0,1,1,1,1,1,0,0,43.0
7969,1.0,2.0,1.0,100.0,70.0,236.0,161.0,175.0,40.0,89.0,...,0,0,2,1,1,1,1,1,1,36.0
12290,1.0,2.0,1.0,130.0,80.0,194.0,125.2,59.0,57.0,94.0,...,1,1,2,1,2,1,1,1,1,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161,3.0,1.0,1.0,93.0,53.0,174.0,110.0,84.0,42.0,95.0,...,0,0,0,1,1,1,1,0,1,49.0
3249,3.0,2.0,1.0,127.0,80.0,179.0,112.0,84.0,47.0,94.0,...,0,2,1,1,2,0,0,0,1,51.0
14692,3.0,2.0,1.0,150.0,100.0,225.0,120.8,271.0,50.0,119.0,...,1,1,0,1,1,1,1,1,0,46.0
7834,2.0,2.0,1.0,120.0,80.0,211.0,107.0,260.0,52.0,91.0,...,1,0,0,1,2,2,2,1,1,55.0
7343,1.0,2.0,1.0,110.0,70.0,156.0,89.4,73.0,52.0,84.0,...,0,0,2,1,0,2,1,1,0,32.0

In [83]:
X_test =X_test_new
X_train = X_train_new

In [86]:
y_train

7404     0.0
3132     0.0
16483    0.0
7988     1.0
6735     0.0
        ...
10719    0.0
12664    0.0
6126     0.0
16441    0.0
10587    0.0
Name: LUNG, Length: 10804, dtype: float64

In [89]:
def get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    roc_auc = roc_auc_score(y_test, pred)
    
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f}, F1: {3:.4f}, AUC:{4:.4f}'
          .format(accuracy, precision, recall, f1, roc_auc))
    
# get_eval_by_threshold()
def get_eval_by_threshold(y_test, pred_proba_c1, thresholds):
    # thresholds list 객체 내의 값을 차례로 iteration하면서 evaluation 수행
    for custom_threshold in thresholds:
        binarizer = Binarizer(threshold=custom_threshold).fit(pred_proba_c1)
        custom_predict = binarizer.transform(pred_proba_c1)
        print(f'임곗값: {custom_threshold}')
        get_clf_eval(y_test, custom_predict)

# precision_recall_curve_plot()
def precision_recall_curve_plot(y_test, pred_proba_c1):
    # threshold ndarray와 이 threshold에 따른 정밀도, 재현율 ndarray 추출
    precisions, recalls, thresholds = precision_recall_curve(y_test, pred_proba_c1)
    
    # X축을 threshold값으로, Y축은 정밀도, 재현율 값으로 각각 Plot 수행, 정밀도는 점선으로 표시
    plt.figure(figsize=(8, 6))
    threshold_boundary = thresholds.shape[0]
    plt.plot(thresholds, precisions[0:threshold_boundary], linestyle='--', label='precision')
    plt.plot(thresholds, recalls[0:threshold_boundary], label='recall')
    
    # threshold 값 X축의 scale을 0.1 단위로 변경
    start, end = plt.xlim()
    plt.xticks(np.round(np.arange(start, end, 0.1), 2))
    
    # X, Y축 label과 legend, grid 설정
    plt.xlabel('Threshold value')
    plt.ylabel('Precision and Recall value')
    plt.legend()
    plt.grid()

In [91]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression(C=10, max_iter=10000)
logistic.fit(X_train,y_train)
pred = logistic.predict(X_test)
pred_proba = logistic.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

오차행렬
[[2569   62]
 [  69    1]]
정확도: 0.9515, 정밀도: 0.0159, 재현율: 0.0143, F1: 0.0150, AUC:0.4954

/usr/local/lib64/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [94]:
#random forest
random = RandomForestClassifier()
random.fit(X_train, y_train)
pred = random.predict(X_test)
pred_proba = random.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

오차행렬
[[2631    0]
 [  70    0]]
정확도: 0.9741, 정밀도: 0.0000, 재현율: 0.0000, F1: 0.0000, AUC:0.5000

/usr/local/lib64/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [105]:
#random forest
random = RandomForestClassifier()
h_para = {'max_depth':[1,2,3], 'min_samples_split':[2,3]}

grid_dtree = GridSearchCV(random, param_grid=h_para,scoring='roc_auc',
                         cv=5, refit=True, return_train_score=True)
grid_dtree.fit(X_train, y_train)
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', 
           'split0_test_score', 'split1_test_score', 'split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.743845,5,0.729063,0.727596,0.789710
1,"{'max_depth': 1, 'min_samples_split': 3}",0.736121,6,0.749440,0.711215,0.765668
2,"{'max_depth': 2, 'min_samples_split': 2}",0.763217,3,0.747353,0.728130,0.817060
3,"{'max_depth': 2, 'min_samples_split': 3}",0.764145,2,0.749966,0.730743,0.820105
4,"{'max_depth': 3, 'min_samples_split': 2}",0.781084,1,0.785256,0.761495,0.819206
5,"{'max_depth': 3, 'min_samples_split': 3}",0.760894,4,0.739803,0.768061,0.771420

In [114]:
from sklearn.ensemble import GradientBoostingClassifier
#random forest
random = RandomForestClassifier()
h_para ={
    'n_estimators':[100],
    'max_depth':[6,8,10,12],
    'min_samples_leaf':[8,12,18],
    'min_samples_split':[8,16,20]
}

grid_dtree = GridSearchCV(random, param_grid=h_para,scoring='roc_auc',
                         cv=5, refit=True, return_train_score=True)
grid_dtree.fit(X_train, y_train)
y_pred33 = grid_dtree.predict(X_test)
print(roc_auc_score(y_test,y_pred33))

0.5

In [ ]:
from sklearn.feature_selection import SelectFromModel
select3 = SelectFromModel(RandomForestClassifier(random_state=10),
                          threshold='median')

In [ ]:
X_train_select3 = select3.transform(X_train)
X_test_select3 = select3.transform(X_test)

rf3 = RandomForestClassifier(n_estimators=100, random_state=10)
rf3.fit(X_train_select3, y_train)

In [ ]:
pred = random.predict(X_test)
pred_proba = random.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
precision_recall_curve_plot(y_test,pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(random, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))

In [ ]:
#tree
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
pred = tree.predict(X_test)
pred_proba = tree.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(knc, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))

In [ ]:
#KNeighborsClassifier
knc = KNeighborsClassifier()
knc.fit(X_train, y_train)
pred = knc.predict(X_test)
pred_proba = knc.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(knc, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))

In [ ]:
#adaboost
adaboost = AdaBoostClassifier()
adaboost.fit(X_train, y_train)
pred = adaboost.predict(X_test)
pred_proba = adaboost.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(adaboost, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))

In [ ]:
#xgboost
xgboost = XGBClassifier()
xgboost.fit(X_train, y_train)
pred = xgboost.predict(X_test)
pred_proba = xgboost.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(xgboost, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))

In [ ]:
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(n_estimators=400)
lgbm.fit(X_train, y_train)
pred = lgbm.predict(X_test)
pred_proba = lgbm.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
skf = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
score = cross_val_score(lgbm, X_df, y_df, scoring='roc_auc', cv=skf)
print('교차 검증별 정확도:', np.round(score, 4))
print('평균 검증 정확도:', np.round(np.mean(score), 4))